.App {
  text-align: center;
  height: 100vh;
  font-size: 30px;
}

.navbar {
  height: 10vh;
  width: 90vw;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.theme-button{
  margin-left: 15px;
  

}
.anime-card {
  text-align: center;
  font-size: 22px;
}

.anime-img {
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
}